{% extends "contenido/encabezado.html"%}
{%block nombrePestana%}Contacto{% endblock %}
{% load static %}
{%block titulomenu%}Contacto{%endblock%}
{%block imagen%}
{%load static%}
{%static 'contenido/images/form.png'%}
{% endblock %}

    
{% block contenido%}
    <h3 style="color: rgb(84, 38, 170);">Formulario para preguntas.</h3>
    <hr>
    <p style="font-size:60%;">Nombre: <input type="text" name="nombre" class="col-sm-2 col-form-label"></p>
    <p style="font-size:60%;">Correo: <input type="email" id="email"></p>
    <select name="curso" id="curso" style="font-size:40%;">
    <option value="">Seleccione un curso</option>
    <option value="1">Base de datos</option>
    <option value="2">Programación</option>
    <option value="3">Inglés</option>
    <option value="4">Matemáticas</option>
    </select>
    <p style="font-size:60%;">Comentarios:</p>
    <p><textarea cols="30" rows="10"></textarea></p>
    <p><input type="Button" name="enviar" value="Enviar" style="font-size:60%;"/></p>
{%endblock%}