{% extends "contenido/encabezado.html"%}
{%block nombrePestana%}Contacto{% endblock %}
{% load static %}
{%block titulomenu%}Contacto{%endblock%}
{%block imagen%}
{%load static%}
{%static 'contenido/images/form.png'%}
{% endblock %}

    
{% block contenido%}

<section class="home">
    <!-- barra de navegación-->
	<div class="text">
		<ul class="breadcrumb">
			<a href="{%url 'Principal'%}">
				{% if request.path == '/'%}
				Principal
				{%else%}
				Principal{{request.path}}
				{%endif%}
			</a>
		</ul>
	</div>
	<!-- /barra de navegación-->
    <div class="text"><h1 style="color: rgb(84, 38, 170);">Formulario para preguntas.</h1>
    <hr>
    <p sytle="font-size:3vw;">Nombre: <input type="text" name="nombre" class="col-sm-2 col-form-label"></p>
    <p sytle="font-size:3vw;">Correo: <input type="email" id="email"></p>
    <select name="curso" id="curso">
    <option value="">Seleccione un curso</option>
    <option value="1">Base de datos</option>
    <option value="2">Programación</option>
    <option value="3">Inglés</option>
    <option value="4">Matemáticas</option>
    </select>
    <p>Comentarios:</p>
    <p><textarea cols="30" rows="10"></textarea></p>
    <p><input type="Button" name="enviar" value="Enviar" /></p>

</section>

{%endblock%}