{% extends "contenido/encabezado.html"%}
{%block nombrePestana%}Cursos{% endblock %}
{% load static %}
{%block titulomenu%}Cursos actuales{%endblock%}
{%block imagen%}
{%load static%}
{%static 'contenido/images/cursos.png'%}
{% endblock %}

{% block contenido%}
      <h1 style="color:rgb(84, 38, 170);">Los cursos disponibles son: </h1>
    <hr>
    <!-- Tabla de Alumnos -->
<table class="table table-bordered"border="1">
  <thead>
  <tr>
  <th>Foto</th>
  <th>Curso</th>
  <th>Características</th>
  <th>Disponibilidad del curso</th>
  <th>Cupos disponibles</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td class="text-center">
    <img src="" alt="" class="img-media">
    </td>
    <td class="text-semibold">Dw</td>
    <td class="muted">nola</td>
    <td class="muted">Tic</td>
    <td class="muted">Matutino</td>
    </tr>
    </tbody>
    </table>
{%endblock%}