{% extends "contenido/encabezado.html"%}
{%block titulo%} Principal {% endblock %}
{% load static %}
{%block titulomenu%}Cursos actuales{%endblock%}
{%block imagen%}
{%load static%}
{%static 'contenido/images/cursos.png'%}
{% endblock %}

{% block contenido%}
<section class="home">
    <div class="text"><h1 style="color:rgb(84, 38, 170);">Los cursos disponibles son: </h1>
    <hr>

    <ul  style="font-size:2vw;">
        <li>Base de datos</li>
        <li>Programación</li>
        <li>Inglés</li>
        <li>Matemáticas</li>
    </ul>
</div>
</section>


{%endblock%}