{% extends "contenido/encabezado.html"%}
{%block nombrePestana%}Cursos{% endblock %}
{% load static %}
{%block titulomenu%}Cursos actuales{%endblock%}
{%block imagen%}
{%load static%}
{%static 'contenido/images/cursos.png'%}
{% endblock %}

{% block contenido%}
<section class="home">

    <!-- barra de navegación-->
	<div class="text">
		<ul class="breadcrumb">
			<a href="{%url 'Principal'%}">
				{% if request.path == '/'%}
				Principal
				{%else%}
				Principal{{request.path}}
				{%endif%}
			</a>
		</ul>
	</div>
	<!-- /barra de navegación-->


    <div class="text"><h1 style="color:rgb(84, 38, 170);">Los cursos disponibles son: </h1>
    <hr>
    <ul  style="font-size:2vw;">
        <li>Base de datos</li>
        <li>Programación</li>
        <li>Inglés</li>
        <li>Matemáticas</li>
    </ul>
</div>
</section>


{%endblock%}