<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    
    <title>{%block nombrePestana%}{% endblock %}</title>

    {%load static%}
    <link href="{% static 'contenido/css/style.css'%}" rel="stylesheet" type="text/css">
    
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{%block imagen%} {%endblock%}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">{%block titulomenu%}{%endblock%} </span>
                    <span class="profession">CursoDjango</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Buscar...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{%url 'Principal'%}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{%url 'Cursos'%}">
                            <i class='bx bx-book icon' ></i>
                            <span class="text nav-text">Cursos</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{%url 'Contacto'%}">
                            <i class='bx bx-mail-send icon'></i>
                            <span class="text nav-text">Formulario</span>
                        </a>
                    </li>

                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon' ></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li>

                </ul>
            </div>
            -->
            <div class="bottom-content">
                <!-- <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li> -->

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Cambiar</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                    
                </li>
    
            </div>
        </div>

    </nav>
    {% block contenido %} <!--Template Tag-->

    <!--block sirve para indicar que colocaremos un bloque de
    contenido a través de nuestra variable content -->
    

    
{% endblock %}
<script src="{% static 'contenido/js/script.js'%}"></script>
</body>
</html>