{% extends "contenido/encabezado.html"%}
{%block nombrePestana%}Cursos{% endblock %}
{% load static %}
{%block titulomenu%}Cursos actuales{%endblock%}
{%block imagen%}
{%load static%}
{%static 'contenido/images/cursos.png'%}
{% endblock %}

{% block contenido%}
      <h3 style="color:rgb(84, 38, 170)">Los cursos disponibles son: </h3>
    <hr>
    <!-- Tabla de cursos -->
<table class="table table-bordered"border="1">
  <thead>
  <tr style="font-size:60%;">
    <th>Foto</th>
    <th>ID</th>
    <th>Curso</th>
    <th>Características</th>
    <th>Incio de Curso</th>
    <th>Cupos disponibles</th>
    <th>Fin del curso</th>
    </tr>
    </thead>
  <tbody>
    {% for curso in cursos %}
    <tr style="font-size:60%;">
      <td class="text-center">
        <img src="{{curso.imagen.url}}" alt="Curso" class="img-media" width="60" height="60">
      </td>
      <td class="text-semibold">{{curso.IdCurso}}</td>
      <td class="muted">{{curso.nombreCurso}}</td>
      <td class="muted">{{curso.Descripcion}}</td>
      <td class="muted">{{curso.created}}</td>
      <td class="muted">{{curso.Cupo}}</td>
      <td class="muted">{{curso.updated}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- /Tabla de cursos -->
{%endblock%}
